/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');

:root
{
    --turquoise : #1FBFB8;
    --bleu : #1978A5;
    --bleuF : #031163;
    --vert : #05716C;
    --beige : #F5F0E1;
}

body
{
    background-color: var(--beige);
}

h3
{
    font-size: 2em;
    color: var(--bleu);
    font-family: "caveat", serif;
}

p
{
    font-family: "Bodoni Moda", serif;
    font-size: 1.2em;
    color: var(--bleuF);
}

.caveatTitle
{
    font-size: 3em;
    color: var(--bleu);
    font-family: "caveat", serif;
}