/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');

:root
{
    --turquoise : #1FBFB8;
    --bleu : #1978A5;
    --bleuF : #031163;
    --vert : #05716C;
    --beige : #f1efe9;
    --noir : #282828;
}

body
{
    background-color: var(--beige);
}

/*  Nav  */
nav
{
    height: 150px;
}

nav .nav-link
{
    color: var(--noir);
    font-size: 1.5em;
    border-bottom: 1px solid transparent;
    transition: padding-bottom .4s ease-in-out, border-color .3s ease;
}

nav .nav-link:hover
{
    color: var(--bleu);
    padding-bottom: 20px;
    border-bottom-color: var(--bleu);
}

#logo
{
    height: 5em;
    width: 5em;
}
/* END Nav */

/* Home */
main .home
{
    height: 1200px;
    position: relative;
}

main .mainContent
{
    position: absolute;
    top: 30%;
}

 /* Animation mainTitle */
h1:after
{
    content: "";
    animation: reveal 1.5s linear 1;
    animation-fill-mode: forwards;
}

@keyframes reveal 
{
    0% 
    {
        content: "K";
    }

    25%
    {
        content: "KE";
    }

    50%
    {
        content: "KEN";
    }

    75%
    {
        content: "KENK";
    }

    100%
    {
        content: "KENKO";
    }
}
 /* END Animation mainTitle */

.mainContent .mainTitle
{
    font-family: "Bodoni Moda", serif;
    font-size: 16rem;
    color: var(--noir);
}

.mainContent .secondTitle
{
    font-family: "Bodoni Moda", serif;
    font-size: 4rem;
    color: var(--noir);
}

